<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>&quot;This app needs access to your photo album to save report images.&quot;





&quot;This app needs access to your photo album to save report images.&quot;





&quot;This app needs access to your photo album to save report images.&quot;





This app needs access to your photo album to save report images</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
</dict>
</plist>
